
//===================================
//  Reviews
//===================================
.ec-form,
.ec-reply-form,
.ec-message,
.ec-reply,
.ec-d-rating {
    --ec-background-color: #f9f9f9;
    --ec-alert-background-color: #ffffd0;
    --ec-disabled-color: #d8d8d8;
    --ec-primary-color: #337ab7;
    --ec-muted-text-color: #8b8b8b;
    --ec-border-color: #d8d8d8;
}

.ec-error {
    color: darkred;
}

.ec-quote {
  border-left: 3px solid #ddd;
  padding-left: 10px;
  color: #666;
  margin: 10px 0;
}
.ec-counter {
    font-size: 12px;
  text-align: right;
}
.ec-quote strong {
  display: block;
  margin-bottom: 5px;
}

.ec-smiles button {
    border: none;
  background: none;
  padding: 0;
}

.ec-antispam {
    display: none;
}
.ec-d-none {
    display: none;
}
.ec-reply-form {
    margin-left: 2rem;
}
.ec-form__row,
.ec-reply-form__row {
    margin-bottom: 1rem;
}
.ec-form__cols,
.ec-reply-form__cols {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap: 0 1rem;
}
.ec-form__col,
.ec-reply-form__col {
    flex: 0 1 calc(50% - 0.5rem);
}
@media (max-width: 480px)  {
    .ec-form__col,
    .ec-reply-form__col {
        flex: 0 1 100%;
    }
}
.ec-message {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--ec-background-color);
    border-radius: 0.25rem;
}
.ec-message p:last-child {
    margin-bottom: 0;
}
.ec-message__header {
    margin: 0 0 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.ec-message__meta {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.125rem 1.5rem;
}
.ec-message__author {
    font-weight: bold;
}
.ec-message__votes {
    margin-left: auto;
}
.ec-message__reply {
    background: #fff;
    padding: 0.5rem;
    margin-left: 1.5rem;
    p:last-child {
        margin-bottom: 0;
    }
}

.ec-message__footer {
    margin-top: 1rem;
}
.ec-message__footer-link {
    color:var(--color-red);
    text-decoration: none;
    &:hover,
    &:focus {
        color: var(--ec-primary-color);
        text-decoration: none;
    }
}
.ec-reply {
    padding: 1rem;
    margin-left: 2rem;
    position: relative;
}
.ec-reply::before {
    content: "";
    width: 20px;
    height: 24px;
    position: absolute;
    top: 0.75rem;
    left: -1.5rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 20 24' fill='none'%3E%3Cpath d='M19.5898 15.5899C19.4882 15.5899 19.3828 15.629 19.3046 15.7071L11.8242 22.9336C11.6601 23.0899 11.6562 23.3516 11.8124 23.5157C11.9687 23.6797 12.2304 23.6836 12.3945 23.5274L19.8749 16.3008C20.039 16.1446 20.0429 15.8829 19.8867 15.7188C19.8046 15.629 19.6953 15.5899 19.5898 15.5899Z' fill='%23D9D9D9'/%3E%3Cpath d='M12.1094 8.35938C12 8.35938 11.8945 8.40234 11.8125 8.48438C11.6562 8.64844 11.6602 8.91016 11.8242 9.06641L18.5703 15.5859L7.13672 15.5859C3.65625 15.5859 0.824219 4.75391 0.824219 1.27344V0.773438C0.824219 0.546875 0.640625 0.363281 0.414062 0.363281C0.1875 0.363281 0 0.542969 0 0.773438V1.27734C0 5.21094 3.19922 16.4141 7.13672 16.4141H19.5898C19.7578 16.4141 19.9102 16.3125 19.9727 16.1562C20.0352 16 19.9961 15.8242 19.8789 15.707L12.3984 8.48047C12.3125 8.39844 12.2109 8.35938 12.1094 8.35938Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
}
.ec-reply + .ec-reply {
    border-top: 1px solid var(--ec-border-color);
}
.ec-reply + .ec-reply::before {
    content: none;
}
.ec-reply + .ec-message {
    margin-top: 2rem;
}
.ec-reply p:last-child {
    margin-bottom: 0;
}
.ec-reply__header {
    margin: 0 0 0.5rem 0;
}

.ec-reply__meta {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.125rem 1.5rem;
}
.ec-reply__author {
    font-weight: bold;
}
.ec-reply__footer {
    margin-top: 1rem;
}
.ec-reply__footer-link {
    color: var(--color-red);
    text-decoration: none;
}
.ec-reply__footer-link:hover,
.ec-reply__footer-link:focus {
    color: var(--ec-primary-color);
    text-decoration: none;
}
.ec-alert {
    background: var(--ec-alert-background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

/*
| Votes
*/
.ec-message__votes {
    position: relative;
    padding: 0.25rem 1rem;
    background: #ffffff;
    border-radius: 0.125rem 0.125rem 0 0;
    display: flex;
    flex-wrap: nowrap;
}
.ec-message__votes-item {
    display: block;
}
.ec-message__votes-item + .ec-message__votes-item {
    margin-left: 1rem;
}
.ec-message__votes-button {
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 20px;
    cursor: default;

    color: var(--ec-muted-text-color);
    text-decoration: none;
}
.ec-message__votes-button:hover,
.ec-message__votes-button:active,
.ec-message__votes-button:focus {
    text-decoration: none;
    color: var(--ec-muted-text-color);
}
.ec-message__votes-button.enabled {
    cursor: pointer;
}
.ec-message__votes-button.enabled:hover,
.ec-message__votes-button.enabled:active,
.ec-message__votes-button.enabled:focus {
    color: var(--ec-primary-color);
}
.ec-message__votes-button.active {
    color: var(--ec-primary-color);
}
.ec-message__votes-button-like {
    background: url('/images/web/vote.svg#like') 0 center no-repeat;
    filter: grayscale(100%) brightness(5) brightness(80%);
}
.ec-message__votes-button-dislike {
    background: url('/images/web/vote.svg#dislike') 0 center no-repeat;
    filter: grayscale(100%) brightness(5) brightness(80%);
}
.ec-message__votes-button-like.enabled:hover,
.ec-message__votes-button-dislike.enabled:hover {
    filter: none;
}
.ec-message__votes-button-like.active,
.ec-message__votes-button-dislike.active {
    filter: none;
}
.ec-message__votes-bar {
    display: block;
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    background: var(--ec-disabled-color);
}
.ec-message__votes-bar span {
    display: block;
    width: 0;
    height: 2px;
    background: var(--ec-primary-color);
}

/*
| common
*/
.ec-clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.itemComments {
    h3 {
        border-bottom: 1px solid;margin-bottom: 20px;
    }
    .ec-reply {
        border: 1px solid #d8d8d8;
        border-radius: 6px;
        margin-bottom: 10px;
        
    }
    .ec-reply--lvl2,
    .ec-reply--lvl3,
    .ec-reply--lvl4,
    .ec-reply--lvl5 {
        padding: 0;
        padding-left: 28px;
        margin-left: 2rem;
        border:none;
        .wraper {
            border: 1px solid #d8d8d8;
            border-radius: 6px;
            padding: 1rem;
        }
    }
    .ec-reply--lvl3 {
        margin-left: 3rem;
    }
    
    .ec-reply--lvl4 {
        margin-left: 4rem;
    }
    .ec-reply--lvl5 {
        margin-left: 5rem;
    }
    
    
    
    .ec-reply--lvl2::before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 20px;
      height: 24px;
    
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 20 24' fill='none'%3E%3Cpath d='M19.5898 15.5899C19.4882 15.5899 19.3828 15.629 19.3046 15.7071L11.8242 22.9336C11.6601 23.0899 11.6562 23.3516 11.8124 23.5157C11.9687 23.6797 12.2304 23.6836 12.3945 23.5274L19.8749 16.3008C20.039 16.1446 20.0429 15.8829 19.8867 15.7188C19.8046 15.629 19.6953 15.5899 19.5898 15.5899Z' fill='%23D9D9D9'/%3E%3Cpath d='M12.1094 8.35938C12 8.35938 11.8945 8.40234 11.8125 8.48438C11.6562 8.64844 11.6602 8.91016 11.8242 9.06641L18.5703 15.5859L7.13672 15.5859C3.65625 15.5859 0.824219 4.75391 0.824219 1.27344V0.773438C0.824219 0.546875 0.640625 0.363281 0.414062 0.363281C0.1875 0.363281 0 0.542969 0 0.773438V1.27734C0 5.21094 3.19922 16.4141 7.13672 16.4141H19.5898C19.7578 16.4141 19.9102 16.3125 19.9727 16.1562C20.0352 16 19.9961 15.8242 19.8789 15.707L12.3984 8.48047C12.3125 8.39844 12.2109 8.35938 12.1094 8.35938Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    .form {
      background: #f5f2f2;
      padding: 20px;
      border-radius: 7px;
      margin-bottom: 20px;
    }
    
   .ec-date, .ec-reply__to {
       color:#999;
       font-size:14px;
   }
    .buttons {
        display: flex;
        gap: 20px;
        margin: 20px 0 0 0;
    }
    .ec-reply-form__col,
    .ec-form__cols,
    .ec-form__row {
        margin-top:10px;
        gap:10px;
        
        input {
            width: 100%;
            max-width: 250px;
            border: 1px solid #999;
            border-radius: 4px;
            margin-right: 5px;
        }
    }
    textarea {
        width:100%;
        border: 1px solid #999;
        border-radius: 4px;
    }
    
    .btn_red {
        font-size: 14px; 
        line-height: 1;
    }
    .replayComment {
        border-bottom: 1px solid;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .ec-reply-form {
        background: #f5f2f2;
        padding: 20px;
        border-radius: 7px;
        margin-bottom: 20px;
    }
    
}
